{
  "arrowParens": "always",
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*.spec.*"],
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": ["**/*.md"],
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    }
  ]
}
