{
  "arrowParens": "always",
  "printWidth": 100,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*.md", "**/*.mdx"],
      "options": {
        "printWidth": 500,
        "proseWrap": "never"
      }
    }
  ]
}
