/* Dark mode colors. */
:root {
  --sl-color-accent-low: #072d00;
  --sl-color-accent: #247f00;
  --sl-color-accent-high: #aad7a0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #bdc4bb;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #1f2a1c;
  --sl-color-black: #151a13;

  --sl-text-2xs: 0.75rem;
  --sl-text-xs: 0.8125rem;
  --sl-text-sm: 0.875rem;
  --sl-text-base: 1rem;
  --sl-text-lg: 1.05rem; /* h5 */
  --sl-text-xl: 1.25rem; /* h4 */
  --sl-text-2xl: 1.5rem; /* h3 */
  --sl-text-3xl: 1.5rem; /* h2 */
  --sl-text-4xl: 1.85rem; /* h1 */
  --sl-text-5xl: 1.3rem;
  --sl-text-6xl: 1.55rem;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c0e2b8;
  --sl-color-accent: #258100;
  --sl-color-accent-high: #0d3e00;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
}
