<style>
.pill {
  display: inline-flex;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  border-radius: 9999px;
}
.gray {
  background-color: #f3f4f6;
  color: #1f2937;
}
</style>

<span class='pill gray'>Optional</span>
