<style>
.pill {
  display: inline-flex;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  border-radius: 9999px;
}
.red {
  background-color: #fee2e2;
  color: #991b1b;
}
</style>

<span class='pill red'>Required</span>
