.pill {
  display: inline-flex;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  border-radius: 9999px;
}
.gray {
  background-color: #f3f4f6;
  color: #1f2937;
}
.red {
  background-color: #fee2e2;
  color: #991b1b;
}
.yellow {
  background-color: #fef3c7;
  color: #92400e;
}
.green {
  background-color: #d1fae5;
  color: #065f46;
}
.blue {
  background-color: #dbeafe;
  color: #1e40af;
}
.indigo {
  background-color: #e0e7ff;
  color: #3730a3;
}
.purple {
  background-color: #ede9fe;
  color: #5b21b6;
}
.pink {
  background-color: #fce7f3;
  color: #9d174d;
}
