name: verify

on:
  pull_request:
    branches:
      - 13.x.x
  push:
    branches:
      - 13.x.x

jobs:
  all:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [18.18.0, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm run build
        env:
          FORCE_COLOR: 3
          TERM: xterm-256color

      - name: E2E Smoke Test
        if: matrix.os == 'ubuntu-latest'
        run: ./test/smoke.sh

      - name: Lint
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == '20.x'
        run: pnpm run lint
        env:
          FORCE_COLOR: 3
          TERM: xterm-256color

      - name: Test
        run: pnpm run test
        env:
          FORCE_COLOR: 3
          TERM: xterm-256color
