name: Test deployment

defaults:
  run:
    shell: bash
    working-directory: site

on:
  push:
    branches:
      - 13.x.x

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Test build website
        run: pnpm run build
